@{
    ViewData["Title"] = "Home Page - Instructor";
}

<div class="text-center">
    <h1 class="display-4 m-3">Welcome - Instructor nè</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
